.research-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.interests-container {
    width: 50vw;
    margin: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.interests-header {
    margin: 0;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1vw;
}

.interests-text {
    padding: 1vw;
    text-align: center;
    border: 3px solid var(--secondary-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.groups-container {
    width: 100%;
}

.groups-header {
    margin: 0;
    padding-left: 1em;
    font-weight: 600;
    color: var(--secondary-color);
}

.groups-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.research-card {
    width: 100%;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    padding: 1.5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    background-color: white;
}

.research-card-header {
    margin: 0 0 .5em 0;
    font-size: 2rem;
    color: var(--secondary-color);
}

.research-dates {
    margin: 0 0 1em 0;
    font-weight: 600;
}

.research-desc {
    padding-left: 1.5em;
}

.research-contact {
    margin-top: 1em;
}

.research-label {
    color: var(--secondary-color);
    font-weight: 700;
}
