:root {
    font-family: Helvetica, sans-serif;
    --text: #000;

    background-color: var(--primary-color);
}

:root[data-theme="home"] {
    --primary-color: #FFFCFB;
    --secondary-color: #F25F3B;
}

:root[data-theme="about"] {
    --primary-color: #FFFCFC;
    --secondary-color: #D83A52;
}

:root[data-theme="teaching"] {
    --primary-color: #FFFDFE;
    --secondary-color: #B62E68;
}

:root[data-theme="research"] {
    --primary-color: #FFFEFE;
    --secondary-color: #5B2E8C;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

ul {
    padding-inline-start: 1em;
}

.page {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 75vh;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
