.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 1em;
    border-radius: 5px;
    gap: 3em;
    height: 3em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}

.navbar-current-page {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin: 0;
}

.navbar-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.navbar-button-container {
    cursor: pointer;
    padding-bottom: .25em;
    border-bottom: 2px solid transparent;
}

.navbar-button {
    all: unset;
    color: var(--primary-color);
}

.navbar-button.active {
    font-weight: 700;
}

.navbar-button-container.active {
    border-bottom: 2px solid var(--primary-color);
}

